body {
    font-family: 'Baloo', sans-serif;
    background-color: #e0ffe0;
    text-align: center;
    margin: 0;
    padding: 0;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cute-button {
    background-color: #a0e7a0;
    border: 2px solid #75b775;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

#game-area {
    margin-top: 20px;
}

#tree-img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}

#instruction-box {
    background-color: #ccf2cc;
    border: 2px solid #75b775;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#button-area {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    gap: 10px;
}


#educational-content {
    background-color: #fffbea;
    border: 2px solid #f2c94c;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

#educational-content h2 {
    color: #4c9141;
}

#tree-info {
    text-align: left;
    margin-top: 10px;
}

#instructions {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

#instructions-info {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #4CAF50; /* Green color for information */
}

#instructions-caution {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #F44336; /* Red color for caution */
}
